rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isValidPhoto(photo) {
      return photo.size() == 3
      && 'addr' in photo && photo.addr is string
      && 'pos' in photo && photo.pos is latlng
      && 'createdAt' in photo && photo.createdAt is timestamp
    }

    match /version/{versionId} {
      match /photos/{photoId} {
      	allow create: if isValidPhoto(request.resource.data);
      }
      match /mapPhotos/{mapPhotosId} {
      	allow read: if true;
      }
    }
  }
}