rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /photos/{photoId} {
    	allow read, create: if true;
    }
    match /thumbnails/{photoId} {
    	allow read, create: if true;
    }
  }
}